flows.json
[{"id":"ccaf02b6.4fa59","type":"tab","label":"sheduler","disabled":false,"info":""},{"id":"94a5fc4a.ae4de","type":"inject","z":"ccaf02b6.4fa59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":200,"y":40,"wires":[["af6149ef.27d518"]]},{"id":"af6149ef.27d518","type":"function","z":"ccaf02b6.4fa59","name":"означення планувальника","func":"let now = new Date();\nlet strtday = new Date(now.toDateString());\nlet delta = now.getTime() - strtday.getTime();//кількість мілісекунд з початку доби\nlet scheduler = [];\nscheduler.push({\n    tbegin: delta + 5000, //кількість мілісекунд з початку доби + 5000 мс\n    tend: delta + 10000, \n    topic: \"lamp1\", cmdbegin:\"on\", cmdend:\"off\"\t\n});\nscheduler.push({\n    tbegin:delta + 6000, \n    tend: delta + 8000,\n    topic: \"lamp2\", cmdbegin:\"on\", cmdend:\"off\"\n});\nscheduler.push({\n    tbegin: delta + 3000,\n    tend: delta + 9000,\n    topic: \"power\", cmdbegin:\"85\", cmdend:\"0\"\t\n});\n\n//пам'ятайте, що об'єкти передаються за посиланнями а не за значенням\nfunction daytoshed (scheduler ){\n    let strtday = new Date(now.toDateString());\n    for (let schedevt of scheduler) {\n        schedevt.tbegin = new Date (strtday.getTime() + schedevt.tbegin);\n        schedevt.tend = new Date (strtday.getTime() + schedevt.tend);    \n    }    \n}\ndaytoshed (scheduler);\nfor (let schedevt of scheduler) {\n    console.log (schedevt.tbegin);\n    console.log (schedevt.tend);         \n} \n//збереження розкладу в контексті потоку\nflow.set (\"scheduler\", scheduler);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":40,"wires":[[]]},{"id":"5199b8d5.6887b8","type":"inject","z":"ccaf02b6.4fa59","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":210,"y":100,"wires":[["d6aa2650.cea5d8"]]},{"id":"d6aa2650.cea5d8","type":"function","z":"ccaf02b6.4fa59","name":"керування за розкладом","func":"let fnshed = function () { // створюємо функцію\n    let dt = new Date(); // створюємо дату\n    msgtxt = dt.toLocaleString(); // виводимо дату у текстовому форматі\n    console.log (msgtxt); // виводимо повідомлення у console\n    for (let schedevt of scheduler) checkshed (schedevt); // після циклу використовуємо функцію та передаємо туди значення\n    for (let i = 0; i < scheduler.length; i++) { // проходимося циклом по всім елементам масиву scheduler\n        if (dt.getTime() > scheduler[i].tend.getTime()){ // якщо час рівний часу одного з елементів масиву, виконується наступне\n            console.log (scheduler[i].topic);\n            scheduler.splice(i,1); // видаляємо елемент масиву\n        }\n    }\n    //if (scheduler.length === 0) clearTimeout(htmr); // якщо довжина масиву рівна нулю, то очищаємо timeout функцію\n}\n\nfunction checkshed (shedevt) { // створюємо нову функцію\n    let dt = new Date(); // створюємо дату\n    //let msg = {}; // створюємо object\n    if (dt.getTime()>=shedevt.tend.getTime()) { // якщо час рівний часу значенню, що передається, виконується наступне\n        if (shedevt.started){ // якщо значення розпочато\n            shedevt.started = false; // виключаємо це значення\n            msg.payload = shedevt.cmdend; // передаємо повідомлення у payload\n            msg.topic = shedevt.topic; // передаємо повідомлення у topic\n            console.log (\"Подію для \"  + msg.topic + \" зупинено \"); // виводимо повідомлення у console\n        }\n    }    \n    else if ((dt.getTime()>=shedevt.tbegin.getTime()) && (!shedevt.started)) { // якщо дата быльше рівна початку події та подія не запущена, то виконується наступне\n        msg.payload = shedevt.cmdbegin; // передаємо повідомлення у payload\n        msg.topic = shedevt.topic; // передаємо повідомлення у topic\n        shedevt.started = true; // включаємо це значення\n        console.log (\"Подію для \"  + msg.topic + \" запущено\"); // виводимо повідомлення у console\n    }\n}    \n//htmr = setInterval(fnshed, 1000); // запускаємо інтервал функцію\n//console.log (now.toLocaleString () + \" Планувальник запущено\"); // виводимо повідомлення у console\nlet scheduler = flow.get('scheduler') || [];\nfnshed();\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":100,"wires":[["20dceb50.bd8fd4","48704319.a7f84c"]]},{"id":"20dceb50.bd8fd4","type":"debug","z":"ccaf02b6.4fa59","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":670,"y":100,"wires":[]},{"id":"e4d4fe25.5fbb1","type":"ui_button","z":"ccaf02b6.4fa59","name":"","group":"83b39f2a.c3292","order":0,"width":0,"height":0,"passthru":false,"label":"проба","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":240,"wires":[["af6149ef.27d518"]]},{"id":"48704319.a7f84c","type":"switch","z":"ccaf02b6.4fa59","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"lamp1","vt":"str"},{"t":"eq","v":"lamp2","vt":"str"},{"t":"eq","v":"power","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":240,"wires":[["bb74402f.e5e26"],["44868b6f.c15d54"],["55e15554.d1e29c"]]},{"id":"bb74402f.e5e26","type":"ui_text","z":"ccaf02b6.4fa59","group":"83b39f2a.c3292","order":1,"width":0,"height":0,"name":"","label":"лампа 1","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":200,"wires":[]},{"id":"44868b6f.c15d54","type":"ui_text","z":"ccaf02b6.4fa59","group":"83b39f2a.c3292","order":2,"width":0,"height":0,"name":"","label":"лампа 2","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":240,"wires":[]},{"id":"55e15554.d1e29c","type":"ui_gauge","z":"ccaf02b6.4fa59","name":"","group":"83b39f2a.c3292","order":3,"width":0,"height":0,"gtype":"gage","title":"потужність","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":280,"wires":[]},{"id":"83b39f2a.c3292","type":"ui_group","name":"Прилади","tab":"8e131842.3edc18","order":1,"disp":true,"width":"6","collapse":false},{"id":"8e131842.3edc18","type":"ui_tab","name":"Sheduler","icon":"dashboard"}]